/*-- RESPONSIVE GRID VIEW --*/

* {
    box-sizing: border-box;  /* make sure that padding and border are included in total width and height of elements */
}

.row {
    display: flex;
}

.column {
    padding: 10px;
}

.column.side {
    flex: 1;
}

.column.middle {
    flex: 2;
}

@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}

/* ================================================================================================================== */
/* -- HEADER LAYOUT -- */
.header {
    padding: 15px;
    text-align: left;
    background-image: linear-gradient(to right, #126887, #33b5e5);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
}

/* ================================================================================================================== */
/* -- NAVIGATION LAYOUT -- */
.nav {
    padding: 20px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.nav li:hover {
    background-color: #0099cc;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
}

.nav a:hover {
    text-decoration: none;
    color: #ffffff;
}

/* ================================================================================================================== */
/* -- MAIN AREA LAYOUT -- */
.main {
    padding: 20px 20px 50px 20px;
}

/* ================================================================================================================== */
/* -- ASIDE CONTENT LAYOUT -- */
.aside {
    padding: 20px;
}

/* ================================================================================================================== */
/* -- FOOTER LAYOUT -- */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: #7b949d;
    color: #ffffff;
    font-size: 14px;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
}

.footer a:hover {
    text-decoration: underline;
}

/* ================================================================================================================== */
/* -- GENERAL LAYOUT -- */

/* -- font -- */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans_regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans_bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans_italic.ttf");
    font-style: italic;
}

html {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

/* -- links -- */
a {
    text-decoration: none;
    color: #000000
}

a:hover {
    text-decoration: underline;
}

/* ================================================================================================================== */
/* -- ARTICLE LAYOUT -- */

/* -- text -- */
.article {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

/* -- table -- */
.article table {
    border-collapse: collapse;
    width: 100%;
}

.article th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.article tr:nth-child(even) {background-color: #f2f2f2;}

/* -- image -- */
.article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* -- link -- */
.article a {
    text-decoration: none;
    color: #178bb5
}

.article a:hover {
    text-decoration: underline;
}

/* -- article tag -- */
a.tag {
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85em;
}

a.tag:hover {
    background-color: #ffa500;
}

/* -- hide the <div class="toc"> in the article html page -- */
.toc {
    display: none;
}

/* ================================================================================================================== */
/* -- CONTACT LAYOUT -- */

.contact {
    margin: auto;
}

/* -- link -- */
.contact a {
    text-decoration: none;
    color: #178bb5
}

.contact a:hover {
    text-decoration: underline;
}

/* ================================================================================================================== */
/* -- TOC LAYOUT -- */

.toc_layout {
    padding: 15px;
    background-color: #e8f7fc;
    color: #000000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.toc_layout ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toc_layout li {
    padding-top: 8px;
}
