/* -- WEB PAGE STRUCTURE -- */

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.row {
    height: 85%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.column {
    padding: 15px;
}

.column.left {
    flex: 25%;
}

.column.center {
    flex: 50%;
    overflow: auto;
}

.column.right {
    flex: 25%;
    overflow: auto;
}

/* -- small screens -- */
@media only screen and (max-width: 700px) {
    .row {
        flex-direction: column;
        overflow: auto;
    }
    .column.right {
        order: 2;
        overflow: initial;
    }
    .column.center {
        order: 3;
        overflow: initial;
    }
}

/* ================================================================================================================== */
/* -- HEADER & FOOTER -- */

.header {
    padding: 15px 0;
    background-image: linear-gradient(to right, #126887, #33b5e5);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
}

#header {
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}

.footer {
    padding: 15px 0;
    text-align: center;
    background-color: #7b949d;
    color: #ffffff;
    font-size: 14px;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
}

.footer a:hover {
    text-decoration: underline;
}

/* ================================================================================================================== */
/* -- NAVIGATION BAR -- */
.navbar {
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navbar li:hover {
    background-color: #0099cc;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
}

.navbar a:hover {
    text-decoration: none;
    color: #ffffff;
}

/* ================================================================================================================== */
/* -- GENERAL LAYOUT -- */

/* -- font -- */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans_regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans_bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans_italic.ttf");
    font-style: italic;
}

html {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

/* -- links -- */
a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

/* ================================================================================================================== */
/* -- ARTICLE LAYOUT -- */

/* -- text -- */
.article {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

/* -- table -- */
.article table {
    border-collapse: collapse;
    width: 100%;
}

.article th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.article tr:nth-child(even) {background-color: #f2f2f2;}

/* -- image -- */
.article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* -- link -- */
.article a {
    text-decoration: none;
    color: #178bb5
}

.article a:hover {
    text-decoration: underline;
}

/* -- article tag -- */
a.tag {
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85em;
}

a.tag:hover {
    background-color: #ffa500;
}

/* -- hide the <div class="toc"> in the article html page -- */
.toc {
    display: none;
}

/* ================================================================================================================== */
/* -- CONTACT PAGE LAYOUT -- */

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contact div {
    padding: 20px;
}

/* ================================================================================================================== */
/* -- TOC BOX LAYOUT -- */

.toc_layout {
    padding: 15px;
    background-color: #e8f7fc;
    color: #000000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.toc_layout ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toc_layout li {
    padding-top: 8px;
}

/* ================================================================================================================== */
/* -- ARTICLES LIST LAYOUT -- */

ul.articles {
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 12px
}

li.articles {
    text-align: left;
    margin: 10px;
}

a.articles {
    text-decoration: none;
    color: #178bb5
}

a.articles:hover {
    text-decoration: underline overline;
}
